<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h1 class="text-center">Menú Principal</h1>
    </div>
    <div class="card-body text-center">
      <div class="d-flex flex-column gap-3 align-items-center">
        <a routerLink="/productos" class="btn btn-primary btn-lg w-50">Gestión de Productos</a>
        <a routerLink="/clientes" class="btn btn-success btn-lg w-50">Gestión de Clientes</a>
        <button (click)="salir()" class="btn btn-danger btn-lg w-50">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</div>
